.search-bar {
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.search-bar input {
  width: 80%;
  max-width: 400px;
  padding: 8px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}